
.App {
	background-color: #282c34;
	height: 100vh;
	display: grid;
	grid-template-columns: 13fr 4fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 5px;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background-color: #282c34;
	scroll-behavior: smooth;
}

/* Dolny formularz z przyciskiem */

.mess-form{
	width: 100vw;
	display: flex;
	flex-direction: row;
	position: absolute;;
	margin-top: 0;
	align-items: center;
	align-content: space-between;
	gap: 6px;

}

.mess-input {
	width: 70vw;
	height: 10vh;
	border-radius: 10px;
	background-color: #282c34;
	color: #fff;
	font-size: 1rem;
	border: 1px solid #4e5563;
	font-size: 1.2rem;
	box-sizing: border-box;
}

.mess-input:focus {
	border: none;
	border-style: none;
}

.send-btn {
	position: relative;
	width:  5.5vw;
	height: 10vh;
	border-radius: 10px;
	font-size: 2.5rem;
	border: 1px solid #4e5563;
	background-color: #282c34;
	color: #fff;
	cursor: pointer;
}

.send-btn:hover {
	border: 2px solid #4e5563;
}

.send-btn:hover .far{
	font-size: 2.7rem;
}


/* Napis prawy dolny rog */

.mess-info {
	margin:auto;
	width: auto;
	height: 10vh;
	border-radius: 10px;
	color: #fff;
	display: flex;
	justify-content: center;
	font-family: 'Exo', sans-serif;
}

#neon-text {
	font-weight: 200;
	cursor: default;
	margin: auto;
	text-shadow:
     	0 0 1px #fff,
		0 0 7px #fff,
		0 0 14px #fff,
		0 0 21px #0fa,
		0 0 28px #0fa,
		0 0 35px #0fa,
		0 0 42px #0fa,
		0 0 49px #0fa,
		0 0 56px #0fa,
		0 0 63px #0fa,
		0 0 70px #0fa;
}

h1 {
	font-size: 2.5rem;
	animation: blinkin 1s infinite alternate;
	opacity: 0.70;
  }

  @keyframes blinkin {

	0%, 18%, 22%, 25%, 30%, 38%, 45%, 53%, 57%, 100% {

		text-shadow:
		0 0 1px #fff,
		0 0 7px #fff,
		0 0 14px #fff,
		0 0 21px #0fa,
		0 0 28px #0fa,
		0 0 35px #0fa,
		0 0 42px #0fa,
		0 0 49px #0fa,
		0 0 56px #0fa,
		0 0 63px #0fa,
		0 0 70px #0fa;

	}

	20.5%, 24.5%, 55.5% {
		text-shadow: none;
	}
  }


/* prawy div members, na razie ikonka */

.members {
	width: auto;
	height: 87vh;
	border: 1px solid #4e5563;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    /*   padding nie wplywa na width  */
	box-sizing: border-box;
	padding-top: 70%;

}

#react-img {
	max-width: 200px;
	max-height: 200px;
	opacity: 0.4;
	animation: rotating 7s linear infinite;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Wiadomosci */

.messages {
	width: 76vw;
	height: auto;
	border: 1px solid #4e5563;
	border-radius: 10px;
	grid-row: 1/2;
	display: flex;
	flex-direction: column-reverse;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.1rem;
	overflow: scroll;
}

.message {
	display: flex;
	color: white;
	justify-content: space-between;
	border-top: 0.5px dotted black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	box-sizing: content-box;
}

.mess {
	max-width: 700px;
	/* height: fit-content; */
	margin-left: 40px;
	border: 0.1px dotted #4e5563;
	padding: 7px 15px 7px 10px;
	border-radius: 15px;
	box-sizing: content-box;
}

.time{
	opacity: 0.8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.95rem;
	font-style: italic;
	text-decoration: underline;
	cursor: default;
}

.mess:first-child {
	animation: reaching 0.35s ease-out;
}


@keyframes reaching {
	from{
		/* transform: translateX(-100px); */
		opacity: 0;
		transform: scale(0.001);
	}
	to{
		/* transform: translateX(0); */
		opacity: 1;
		transform: scale(1)
	}
}



/* Media */

@media(max-width: 1024px) {
	#react-img {
		max-width: 120px;
		max-height: 120px;
	}

	h1 {
		font-size: 1.8rem;
	  }

	.far {
		transform: scale(1.2);
	}
	.time{
		font-size: 0.80rem;
	}

	.messages {
		font-size: 1rem;
	}

}

@media(max-width: 730px) {
	.far {
		transform: scale(1);
	}

	.mess-form{
		width: 100vw;
		grid-template-columns: 1fr 12fr 4fr;
	}

	.mess-btn {
		width:  9vw;
	}
}


