.App {
	background-color: #282c34;
	height: 100vh;
	display: grid;
	grid-template-columns: fit-content(65vw) 1fr;
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background-color: #282c34;

}

.mess-form{
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 12fr 4fr;
	position: absolute;
	bottom: 5px;
	gap: 10px;
	margin: auto;
}

.mess-input {
	width:  auto;
	height: 10vh;
	border-radius: 10px;
	background-color: #282c34;
	color: #fff;
	font-size: 1rem;
	resize: none;
	border: 1px solid #4e5563;
}

.mess-btn {
	width:  6vw;
	height: 10vh;
	border-radius: 10px;
	font-size: 1.7rem;
	border: 1px solid #4e5563;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	background-color: #282c34;
	color: #fff;
}

.mess-info {
	margin-right: 10px;
	width: auto;
	height: 10vh;
	border-radius: 10px;
	color: #fff;
	border: 1px solid #4e5563;
}

.members {
	width: auto;
	height: 87vh;
	border: 1px solid #4e5563;
	border-radius: 10px;
}

.messages {
	width: 76vw;
	height: auto;
	border: 1px solid #4e5563;
	border-radius: 10px;
}