
.App {
	background-color: #282c34;
	height: 100vh;
	display: grid;
	grid-template-columns: 13fr 4fr;
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background-color: #282c34;
	scroll-behavior: smooth;
}
/* Dolny formularz z przyciskiem */
.mess-form{
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 12fr 4fr;
	position: absolute;
	bottom: 5px;
	gap: 10px;
	margin: auto;
}

.mess-input {
	width:  auto;
	height: 10vh;
	border-radius: 10px;
	background-color: #282c34;
	color: #fff;
	font-size: 1rem;
	resize: none;
	border: 1px solid #4e5563;
	font-size: 1.2rem;
	box-sizing: border-box;
	padding: 10px;
}


.mess-btn {
	width:  6vw;
	height: 10vh;
	border-radius: 10px;
	font-size: 1.7rem;
	border: 1px solid #4e5563;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	background-color: #282c34;
	color: #fff;
	cursor: pointer;
}

.mess-btn:hover {
	border: 2px solid #4e5563;
}

/* Napis prawy dolny rog */

.mess-info {
	margin-right: 10px;
	width: auto;
	height: 10vh;
	border-radius: 10px;
	color: #fff;
	display: flex;
	justify-content: center;
	font-family: 'Exo', sans-serif;
}

#neon-text {
	font-weight: 300;
	margin: auto;
	text-shadow:
     	0 0 1px #fff,
		0 0 7px #fff,
		0 0 14px #fff,
		0 0 21px #0fa,
		0 0 28px #0fa,
		0 0 35px #0fa,
		0 0 42px #0fa,
		0 0 49px #0fa,
		0 0 56px #0fa,
		0 0 63px #0fa,
		0 0 70px #0fa;
}

h1 {
	font-size: 2.5rem;
	animation: blinkin 2s infinite alternate;
	opacity: 0.75;
  }

  @keyframes blinkin {

	0%, 18%, 22%, 25%, 53%, 57%, 100% {

		text-shadow:
		0 0 1px #fff,
		0 0 7px #fff,
		0 0 14px #fff,
		0 0 21px #0fa,
		0 0 28px #0fa,
		0 0 35px #0fa,
		0 0 42px #0fa,
		0 0 49px #0fa,
		0 0 56px #0fa,
		0 0 63px #0fa,
		0 0 70px #0fa;

	}

	20%, 24%, 55% {
		text-shadow: none;
	}
  }


/* prawy div members, na razie ikonka */

.members {
	width: auto;
	height: 87vh;
	border: 1px solid #4e5563;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    /*   padding nie wplywa na width  */
	box-sizing: border-box;
	padding-top: 70%;

}

#react-img {
	max-width: 200px;
	max-height: 200px;
	opacity: 0.3;
	animation: rotating 7s linear infinite;
}

@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Wiadomosci */

.messages {
	width: 76vw;
	height: auto;
	border: 1px solid #4e5563;
	border-radius: 10px;
	grid-row: 1/2;
	flex-direction: column;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 1.1rem;
	overflow: auto;
}

.message {
	display: flex;
	color: white;
	box-sizing: content-box;
}

.mess {
	max-width: 600px;
	margin-left: 30px;
	border: 1px solid #4e5563;
	padding: 15px;
	border-radius: 15px;
	overflow: scroll;
	animation: reaching 0.35s ease-out;
}


@keyframes reaching {
	from{
		/* transform: translateX(-100px); */
		opacity: 0;
		transform: scale(0.001);
	}
	to{
		/* transform: translateX(0); */
		opacity: 1;
		transform: scale(1)
	}
}
